.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    & path {
      fill: white;
    }
  }
}