.tableGroup {
  position: relative;

  &.groupVariants1 {
    width: 40px;
    height: 40px;

    & > :nth-child(1) {
    }
  }

  &.groupVariants2 {
    width: 40px;
    height: 80px;

    & > :nth-child(1) {
    }

    & > :nth-child(2) {
      bottom: 0;
    }
  }

  &.groupVariants3 {
    width: 85px;
    height: 80px;

    & > :nth-child(1) {
    }

    & > :nth-child(2) {
      bottom: 0;
    }

    & > :nth-child(3) {
      right: 0;
      top: 17px;
    }
  }

  &.groupVariants4 {
    width: 85px;
    height: 80px;

    & > :nth-child(1) {
    }

    & > :nth-child(2) {
      bottom: 0;
    }

    & > :nth-child(3) {
      right: 0;
    }

    & > :nth-child(4) {
      right: 0;
      bottom: 0;
    }
  }

  &.groupVariants5 {
    width: 130px;
    height: 80px;

    & > :nth-child(1) {
    }

    & > :nth-child(2) {
      bottom: 0;
    }

    & > :nth-child(3) {
      left: 45px;
    }

    & > :nth-child(4) {
      left: 45px;
      bottom: 0;
    }

    & > :nth-child(5) {
      right: 0;
    }
  }

  &.groupVariants6 {
    width: 130px;
    height: 80px;

    & > :nth-child(1) {
    }

    & > :nth-child(2) {
      bottom: 0;
    }

    & > :nth-child(3) {
      left: 45px;
    }

    & > :nth-child(4) {
      left: 45px;
      bottom: 0;
    }

    & > :nth-child(5) {
      right: 0;
    }

    & > :nth-child(6) {
      right: 0;
      bottom: 0;
    }
  }
}
