.tableGroup {
  position: relative;

  &.groupVariants3 {
    width: 85px;
    height: 90px;

    & > :nth-child(1) {
    }

    & > :nth-child(2) {
      bottom: 0;
    }

    & > :nth-child(3) {
      right: 0;
      transform: translateY(50%);
    }
  }

  &.groupVariants4 {
    width: 85px;
    height: 90px;

    & > :nth-child(1) {
    }

    & > :nth-child(2) {
      bottom: 0;
    }

    & > :nth-child(3) {
      right: 0;
    }

    & > :nth-child(4) {
      right: 0;
      bottom: 0;
    }
  }
}
