@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  background: url("/bg.png");

  & > p {
    font-size: 36px;
    font-weight: 700;
    color: white;
  }
}