@import './variables.scss';

.container {
  background: url('/bg.png');
  min-height: 100vh;

  .wrapper {
    max-width: 900px;
    width: 100%;
    background: radial-gradient(
        farthest-side at bottom right,
        rgb(58 183 180 / 51%),
        transparent 500px
      ),
      radial-gradient(farthest-corner at bottom left, rgb(9 243 217 / 33%), transparent 600px);
    background-color: rgb(0 0 0 / 50%);
    min-height: 60vh;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 24px;
  }

  .header {
    padding: 24px;
    display: flex;
    flex-flow: row nowrap;
  }

  & .avatar {
    width: 166px;
    height: 166px;
    overflow: hidden;
    border: 1px solid $theme-color;
    border-radius: 5px;

    img {
      display: block;
      max-width: 100%;
      height: 166px;
      width: 166px;
      object-fit: cover;
    }
  }

  .info {
    margin-left: 20px;
  }

  & .fullName {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }

  & .profession {
    color: #898989;
    font-size: 13px;
  }

  .socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    width: max-content;

    &Item {
      position: relative;

      &:hover {
        .socialsHover {
          width: 100%;
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &Hover {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 0;
      transition: 0.3s;
    }
  }

  .badges {
    position: relative;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 3px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 12px;
    font-size: 13px;
    overflow: hidden;

    &Header {
      font-weight: 200;
      background: rgb(57 144 152 / 61%);
      background: linear-gradient(90deg, rgb(198 96 50) 0%, rgb(57 144 152 / 61%) 90%);
      padding: 5px 10px 5px 10px;
      color: #ffffff;
      font-size: 16px;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &Block {
      position: relative;
      border-radius: 5px;
      padding: 20px 10px 11px 10px;
      margin-bottom: 0px;
      font-size: 13px;
      overflow: hidden;
      display: flex;
    }

    &Item {
      &:not(:last-child) {
        margin-left: 20px;
      }
    }
  }
}
